
:root {
  --text: #ffffff;
  --muted: #d1d1d1;

  --primary: #c59d5f;   /* dorado */
  --accent: #e63946;

  --card: rgba(0, 0, 0, 0.6);
  --border: rgba(255,255,255,0.1);

  --radius: 14px;
}

/* BODY CON FONDO */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--text);

  background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("/static/img/fondo.png");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* CONTENEDOR */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.site-header {
  background: rgba(0,0,0,0.7);
  padding: 20px 0;
  border-bottom: 1px solid var(--border);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inner h1 {
  color: var(--primary);
  font-size: 26px;
  letter-spacing: 2px;
}

/* NAV */
.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--muted);
  transition: 0.3s;
}

.nav a:hover {
  color: var(--primary);
}

/* HERO */
.hero {
  padding: 80px 0;
}

.hero-inner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero h1 {
  font-size: 45px;
  color: var(--primary);
}

.lead {
  color: var(--muted);
  font-size: 18px;
  line-height: 1.6;
}

.hero img {
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}

/* SECTION */
.section {
  padding: 60px 0;
}

.section h2 {
  text-align: center;
  color: var(--primary);
  font-size: 34px;
  margin-bottom: 40px;
}

/* GRID */
.grid-3 {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* CARD */
.card {
  background: var(--card);
  border-radius: var(--radius);
  width: 270px;
  overflow: hidden;
  border: 1px solid var(--border);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.7);
}

/* IMAGEN */
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTENIDO */
.card h3 {
  color: var(--primary);
  padding: 10px 15px 0;
  font-size: 20px;
}

.card p {
  padding: 0 15px;
  font-size: 14px;
  color: var(--muted);
}

/* FOOTER */
.site-footer {
  text-align: center;
  padding: 25px;
  background: rgba(0,0,0,0.8);
  color: var(--muted);
  border-top: 1px solid var(--border);
}

