<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ restaurante["nombre"] }}</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="site-header">
    <div class="container header-inner">
        <h1>{{ restaurante["nombre"] }}</h1>
        <nav class="nav">
            <a href="#menu">Menú</a>
        </nav>
    </div>
</header>

<main>

<section class="hero">
    <div class="container hero-inner">

        <div>
            <h1>{{ restaurante["eslogan"] }}</h1>
            <p class="lead">{{ restaurante["descripcion"] }}</p>
        </div>

        <div>
            <img src="{{ url_for('static', filename='img/portada1.webp') }}">
        </div>

    </div>
</section>

<section id="menu" class="section">
    <div class="container">

        <h2>Menú del Almuerzo</h2>

        <div class="grid-3">
            {% for plato in menu %}
            <div class="card">

                <img src="{{ url_for('static', filename=plato['imagen']) }}">

                <h3>{{ plato["nombre_plato"] }}</h3>

                <p>{{ plato["descripcion"] }}</p>

                <p><strong>Categoría:</strong> {{ plato["categoria"] }}</p>

                <p><strong>Precio:</strong> Bs {{ plato["precio"] }}</p>

                <p><strong>Disponible:</strong> {{ plato["disponible"] }}</p>

            </div>
            {% endfor %}
        </div>

    </div>
</section>

</main>

<footer class="site-footer">
    <p>© 2026 {{ restaurante["nombre"] }}</p>
</footer>

</body>
</html>